SEPOLIA_RPC_URL=
CREDITCOIN_CC3_RPC_URL=https://rpc.cc3-testnet.creditcoin.network
DEPLOYER_PRIVATE_KEY=
AUTHORITY_SAFE_ADDRESS=
GUARDIAN_ADDRESS=
SEPOLIA_POLICY_REGISTRY_ADDRESS=
SEPOLIA_CHAIN_KEY=11155111
ETHERSCAN_API_KEY=
